.footer-first {
  border-top: 1px solid rgb(221, 221, 221);
  display: flex;
  padding-top: 2rem;
  vertical-align: top;
}

.footer-first-section {
  margin: 0 auto;
}

.footer-second {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.socials {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 12%;
}

.footer-logo {
  align-self: center;
  display: flex;
  height: fit-content;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.terms-privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(75, 89, 99);
  font-size: 14px;
  margin: 6px 0 16px;
}

.footer-area-button {
  background: rgb(31, 105, 193);
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 16px;
  outline: none;
  padding: 0.5rem 1rem;
  transition: background 0.2s ease 0s;
}

.footer-area-button:hover {
  background: rgba(25, 83, 153);
}

#complain-button {
  background: transparent;
  border: 1px solid rgb(223, 41, 48);
  color: rgb(223, 41, 48);
}

h2 {
  color: rgb(75, 89, 99);
  font-size: 18px;
  font-weight: 600;
}

li {
  color: rgb(75, 89, 99);
  font-size: 14px;
  list-style: none;
  margin: 6px;
}

#company-link {
  color: rgb(75, 89, 99);
  text-decoration: underline;
}
