.companies {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

.companies img {
  align-self: flex-start;
}

.company-list {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.company {
  border: 2px solid rgb(225, 227, 229);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
  vertical-align: middle;
  width: 100%;
}

h2 {
  color: rgb(75, 89, 99);
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-top: 2rem;
}

h3 {
  font-size: 18px;
  text-align: center;
}

p {
  color: rgb(75, 89, 99);
  font-size: 16px;
  line-height: 19px;
  margin: 8px 0px 0px;
  text-align: center;
}
