<div class="main-content">
  <div class="ticket-content">
    <h2>{{ ticket.title }}</h2>
    <p id="ticket-date-time">
      <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true">
        <path
          d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1"
        ></path>
      </svg>
      {{ ticket.creationDate | date : "dd/MM/yyyy 'às' HH:mm" }}
      &nbsp;&nbsp;&nbsp;
      <span><b>ID:</b> {{ ticket.id }}</span>
    </p>
    <p id="ticket-reason">{{ ticket.reason }}</p>
    <p>{{ ticket.content }}</p>

    <div class="ticket-answers">
      <ng-container *ngFor="let answer of answers">
        <div
          class="ticket-answer"
          id="company-answer"
          *ngIf="answer.is_company"
        >
          <div class="ticket-answer-header">
            <h2>Resposta da empresa</h2>
            <p>{{ answer.creationDate | date : "dd/MM/yyyy 'às' HH:mm" }}</p>
          </div>
          <p>{{ answer.message }}</p>
        </div>

        <div
          class="ticket-answer"
          id="client-answer"
          *ngIf="!answer.is_company"
        >
          <div class="ticket-answer-header">
            <h2>Réplica do consumidor</h2>
            <p>{{ answer.creationDate | date : "dd/MM/yyyy 'às' HH:mm" }}</p>
          </div>
          <p>{{ answer.message }}</p>
        </div>
      </ng-container>

      <div class="answer-rate">
        <form (ngSubmit)="submit()" [formGroup]="answerForm" #formDir="ngForm">
          <h2>Avalie ou responda a reclamação</h2>
          <textarea
            id="message"
            formControlName="message"
            placeholder="Digite aqui a sua resposta"
            required
          ></textarea>
          <br />
          <input type="checkbox" id="is_company" formControlName="is_company" />
          <label for="is_company">Sou a empresa</label>
          <br />
          <div class="submit-button">
            <button type="submit">Enviar resposta</button>
          </div>
        </form>

        <h2 style="text-align: center">Ou</h2>
        <div class="rate-buttons">
          <button id="rate-resolved" (click)="rateResolved()">
            <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M12,17.5C14.33,17.5 16.3,16.04 17.11,14H6.89C7.69,16.04 9.67,17.5 12,17.5M8.5,11A1.5,1.5 0 0,0 10,9.5A1.5,1.5 0 0,0 8.5,8A1.5,1.5 0 0,0 7,9.5A1.5,1.5 0 0,0 8.5,11M15.5,11A1.5,1.5 0 0,0 17,9.5A1.5,1.5 0 0,0 15.5,8A1.5,1.5 0 0,0 14,9.5A1.5,1.5 0 0,0 15.5,11M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
              ></path></svg
            >Avaliar como resolvida
          </button>
          <button id="rate-not-resolved" (click)="rateNotResolved()">
            <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M15.5,8C16.3,8 17,8.7 17,9.5C17,10.3 16.3,11 15.5,11C14.7,11 14,10.3 14,9.5C14,8.7 14.7,8 15.5,8M10,9.5C10,10.3 9.3,11 8.5,11C7.7,11 7,10.3 7,9.5C7,8.7 7.7,8 8.5,8C9.3,8 10,8.7 10,9.5M12,14C13.75,14 15.29,14.72 16.19,15.81L14.77,17.23C14.32,16.5 13.25,16 12,16C10.75,16 9.68,16.5 9.23,17.23L7.81,15.81C8.71,14.72 10.25,14 12,14Z"
              ></path></svg
            >Avaliar como não resolvida
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="ticket-status"
    id="status-resolved"
    *ngIf="ticket.status === 'RATED_RESOLVED'"
  >
    <img
      class="status-image"
      id="image-resolved"
      src="assets/resolved-status.png"
    />
    <span>Resolvido</span>
  </div>
  <div
    class="ticket-status"
    id="status-unresolved"
    *ngIf="ticket.status === 'RATED_UNRESOLVED'"
  >
    <img
      class="status-image"
      id="image-unresolved"
      src="assets/unresolved-status.png"
    />
    <span>Não Resolvido</span>
  </div>
  <div
    class="ticket-status"
    id="status-consumer-answered"
    *ngIf="ticket.status === 'CONSUMER_ANSWERED'"
  >
    <img
      class="status-image"
      id="image-consumer-answered"
      src="assets/consumer-answered-status.png"
    />
    <span>Em réplica</span>
  </div>
  <div
    class="ticket-status"
    id="status-not-answered"
    *ngIf="ticket.status === 'NOT_ANSWERED'"
  >
    <img
      class="status-image"
      id="image-not-answered"
      src="assets/not-answered-status.png"
    />
    <span>Não respondida</span>
  </div>
  <div
    class="ticket-status"
    id="status-answered"
    *ngIf="ticket.status === 'ANSWERED'"
  >
    <img
      class="status-image"
      id="image-answered"
      src="assets/answered-status.png"
    />
    <span>Respondida</span>
  </div>
  <div class="company-side">
    <h3>{{ company.name }}</h3>
    <p>CNPJ: {{ company.cnpj }}</p>
    <a routerLink="/empresa/{{ company.id }}"
      >Ver página da empresa<svg
        style="fill: currentColor; width: 1em; height: 1em"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path
          d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z"
        ></path></svg
    ></a>
  </div>
</div>
